<br>
<h2>Contacto</h2>
<hr>
<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">

    <label for="name">Nombre</label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]+">
    <span *ngIf="nombre.touched && !nombre.valid" style='color:red'>
        El nombre es obligatorio
    </span>

    <br>

    <label for="apellidos">Apellidos</label>
    <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required>
    <span *ngIf="apellidos.touched && !apellidos.valid" style='color:red'>
        El campo apellidos es obligatorio
    </span>
    <br>

    <label for="email">Email</label>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" required>
    <span *ngIf="email.touched && !email.valid" style='color:red'>
        El email es obligatorio
    </span>
    <br>

    <label for="mensaje">Mensaje</label>
    <textarea type="text" name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required></textarea>
    <span *ngIf="mensaje.touched && !mensaje.valid" style='color:red'>
        El mensaje es obligatorio
    </span>
    <br>

    <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!formContacto.form.valid">
</form>