<h2>{{ titulo }}</h2>

<p>Añadir marca</p>
<p>
    <input type="text" [(ngModel)]="mi_marca" (blur)="onBlur()" (keyup.enter)="mostrarPalabra()" />
    <button (click)="getMarca()" class="btn btn-primary mx-4">Obtener marca</button>
    <button (click)="addMarca()" class="btn btn-secondary mx-4">Añadir marca</button>
    
</p>
<strong>{{mi_marca}}</strong>


<p>Compra las zapatillas de las mejores marcas</p>
<ul class="list-inline">
    <li *ngFor="let marca of marcas; let indice = index" class="my-2">
        {{marca}}
        <button (click)="borrarMarca(indice)" class="btn btn-danger">Borrar</button>
    </li>
</ul>

<p>Las deportivas disponibles son: </p>
<ul class="list-inline">
    <li *ngFor="let item of zapatillas">

        <span [ngStyle]="{
            'text-decoration': !item.stock ? 'line-through' : 'none'
        }">
            {{item.marca}} {{item.nombre}} -
            <strong [class.altoPrecio]="item.precio>=80"
               [ngClass]="{
                   'fondoRojo': item.precio >100,
                   'subrayado': item.marca == 'Nike'
                }" 
               >
                {{item.precio}}€
            </strong>
        </span>

        <span *ngIf="item.precio<=80" [style.background]="item.precio <= 80 ? 'green' : 'transparent'"
            [style.color]="item.precio <= 80 ? 'white' : 'black' ">
            
            ¡En oferta!
        </span>

    </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color">

<ul [ngSwitch]="color" class="list-inline">
    <li *ngSwitchCase="'yellow'">
        El color predominante es el <span [ngStyle]="{'background': color }">amarillo</span>.
    </li>
    <li *ngSwitchCase="'red'">
        El color predominante es el <span [ngStyle]="{'background': color }"> rojo</span>.
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es el <span [ngStyle]="{'background': color }">azul</span>.
    </li>
    <li *ngSwitchCase="'orange'">
        El color predominante es el <span [ngStyle]="{'background': color }">naranja</span>.
    </li>

</ul>